/*-- Global Styles --*/
:root {
}
/*-- Document Styles --*/
body{
  padding: 2em;
  font-size: .8em;
}
.h4{
  font-size: 2em;
}
.gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}
.card{
  /* border: 1px solid black; */
  padding: 1em;
  transition: all .5s ease;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3),
              -1px 0px 4px rgba(0,0,0,0.3);
}
.card:hover{
  cursor: pointer;
  transform: scale(1.03);
  box-shadow:2px 2px 24px rgba(0,0,0,0.3),
             -3px 0px 24px rgba(0,0,0,0.3);
}
.thumb{
  background-size: cover;
  background-position: center center;
  padding-bottom: 56%
}
/*-- Card Backgrounds --*/
.card:nth-child(1){background-image: url('../img/rat.png');}
.card:nth-child(2){background-image: url('../img/ox.png');}
.card:nth-child(3){background-image: url('../img/tiger.png');}
.card:nth-child(4){background-image: url('../img/rabbit.png');}
.card:nth-child(5){background-image: url('../img/dragon.png');}
.card:nth-child(6){background-image: url('../img/snake.png');}
.card:nth-child(7){background-image: url('../img/horse.png');}
.card:nth-child(8){background-image: url('../img/sheep.png');}
.card:nth-child(9){background-image: url('../img/monkey.png');}
.card:nth-child(10){background-image: url('../img/rooster.png');}
.card:nth-child(11){background-image: url('../img/dog.png');}
.card:nth-child(12){background-image: url('../img/pig.png');}

/*-- Slideshow Styles --*/
.slideshow {
  background-color: var(--bg);
  padding: 1em;
}
.slideshow-wrapper {
  position: relative;
  margin: auto;
  margin-top: 2em;
  max-width: 1440px;
}
.slideshow-wrapper img {
  width: 100%;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text-center {
  text-align: center;
}
.indicator {
  cursor:pointer;
  height: auto;
  width: 24%;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: all 250ms ease-in-out;
  opacity: .5;
}
.indicator img {
  width: 100% !important;
}
.active, .indicator:hover {
  opacity: 1;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
